html,
body {
    height: 100%;
    margin: 0px;
    font-family: system-ui, sans-serif;
    overflow: hidden;
}

#toolLayer {
    position: absolute;
    left: 0;
    top: 0;
    /* background: red; */
    pointer-events: none;
}

#sidebar {
    background-color: #323232;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 100px;
    width: 100px;

    #colorPicker {
        background-color: white;
        border: 2px solid gainsboro;
        height: 50px;
        width: 100%;
    }

    input:hover,
    button:hover {
        cursor: pointer;
    }

}

#ribbon {
    background-color: #323232;
    border: 0;
    padding: 10px;
    color: gainsboro;
    height: 30px;
    display: flex;
    flex-direction: row;

    #size {
        width: 300px;
        accent-color: royalblue;
    }

}

#root {
    background-color: #323232;
}

#sizeVal {
    background-color: gainsboro;
    width: 50px;
    border: 2px solid gainsboro;
    padding: 0;
}

.tool {
    position: relative;
}

.tool div.tooltip {
    color: white;
    position: absolute;
    background-color: #323232;
    border: 2px solid gainsboro;
    padding: 10px;
    z-index: 1;
    left: 110%;
    top: 0;
    white-space: nowrap;
    display: none;
}

.tool:hover div.tooltip {
    display: block;
}

.tool button {
    width: 100%;
    margin-top: 5px;
    background-color: #474750;
    border: 2px solid gainsboro;
    font-weight: bold;
    color: white;
}

.tool button:focus {
    outline: none;
}

.tool.chosen button {
    background-color: royalblue;
}

.tool button:hover {
    cursor: pointer;
}
