html,
body {
    height: 100%;
    margin: 0px;
    font-family: system-ui, sans-serif;
    overflow: hidden;
}

canvas {
    /* cursor: none; */
}

#toolLayer {
    position: absolute;
    left: 0;
    top: 0;
    /* background: red; */
    pointer-events: none;
}

#sidebar {
    background-color: #323232;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 2px solid gainsboro;
    min-width: 75px;

    #colorPicker {
        background-color: white;
        border: 2px solid gainsboro;
        height: 50px;
        width: 100%;
    }

    input:hover,
    button:hover {
        cursor: pointer;
    }

}

#ribbon {
    background-color: #323232;
    border: 0;
    padding: 10px;
    color: gainsboro;

    #size {
        width: 300px;
        accent-color: royalblue;
    }
}

#sizeVal {
    background-color: gainsboro;
    width: 50px;
    border: 2px solid gainsboro;
    padding: 0;
}

.tool button {
    width: 100%;
    margin-top: 5px;
    background-color: #474750;
    border: 2px solid gainsboro;
    font-weight: bold;
    color: white;
}

.tool.chosen button {
    background-color: royalblue;
}

.tool button:hover {
    cursor: pointer;
}
